$lightgreen: #0acc3e;
$lightgrey: #bdbfbe;
$red: #ff0000;
$yellow: #ffff00;
$green: #33cc33;

@mixin margenes($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}
@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

.jumbotron {
  background-color: $lightgreen;
  color: black;
  @include margenes(50px, 0px);
//  margin-top: 50px;
}

.footer {
//  padding: 10px 10px 0 10px; //top right bottom left
  @include padding(10px, 10px, 0px,10px);
  background-color: $lightgrey;
  @include margenes(10px, 0px);
//  margin-bottom: 0px;
//  margin-top: 10px;
}

.card-hotel {
  flex: 1 200px;
  @include margenes(10px, 0px);
//  margin-top: 10px;
}

.img-fluid {
  align: rounded float-end;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon{
//  padding-right: 10px;
  @include padding(0px, 10px, 0px, 0px);
}

.tab-content {
  padding-top: 10px;
}
